@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

header {
  text-align: center;
  padding: 10px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
